<template name="AdminPosts">
	<!--<div class="container">
		Panel administrador-->
		{{> AdminPanelBar}}

		<div class="col-xs-12" style="padding: 25px;">
			<table class="table table-hover table-bordered" id="postsAdminTable">
				<thead>
					<tr class="row">
						<th>Título</th>
						<th>Mensaje</th>
						<th>Contenido</th>
						<th>Fecha</th>
						<th> </th>
						<th> </th>
					</tr>
				</thead>

				<tbody>
					{{#each posts}}
						<tr class="row">
							<td>{{Title}}</td>
							<td>{{Message}}</td>
							<td>{{{Body}}}</td>
							<td>{{CreatedAt}}</td>
							<td><button class="btn btn-danger" id="deletePost"><span class="glyphicon glyphicon-trash"></span></button></td>
							<td><button class="btn btn-warning" id="editPost"><span class="glyphicon glyphicon-edit"></span></button></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

</template> 