<template name="AdminPosts">
	<div class="container">
		{{> AdminPanelBar}}

		<div class="col-xs-12">
			<table class="table table-hover" id="postsAdminTable">
				<thead class="thead-dark" style="background-color: #00b386;">
					<tr class="row">
						<th>Título</th>
						<th>Mensaje</th>
						<!--<th>Contenido</th>-->
						<th>Publicado el</th>
						<th> </th>
					</tr>
				</thead>

				<tbody>
					{{#each posts}}
						<tr class="row">
							<td>{{Title}}</td>
							<td>{{Message}}</td>
							<!--<td>{{{Body}}}</td>-->
							<td>{{CreatedAt}}</td>
							<td>
								<button class="btn btn-danger" id="deletePost"><span class="glyphicon glyphicon-trash"></span></button>
								<button class="btn btn-warning" id="editPost"><span class="glyphicon glyphicon-edit"></span></button>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template> 