<template name="AdminPosts">
	<div class="col-xs-12">
		<table id="postsAdminTable">
			<thead>
				<tr class="row">
					<th>Título</th>
					<th>Mensaje</th>
					<th>Eliminar</th>
					<th>Editar</th>
				</tr>
			</thead>

			<tbody>
				{{#each posts}}
					<tr class="row">
						<td>{{Title}}</td>
						<td>{{Message}}</td>
						<td><button class="btn btn-danger" id="deletePost"><span class="glyphicon glyphicon-remove"></span>
							<!--<span class="glyphicon glyphicon-remove-circle"></span>--></button></td>
						<td><button class="btn btn-warning" id="editPost"><span class="glyphicon glyphicon-edit"></span></button></td>

					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template> 