/* CSS declarations go here */

.bodypage { 
	padding-top: 80px;
}

.section{
	align-content: center;
	padding: 0% 2% 0% 2%;
}

.section h1{
	margin-top: 10px;
	text-align: center;
}

.section h4{
	text-align: center;
}

.navbar{
	/*background-color: #c9e8d1;*/
	height: 80px;
	border-bottom: 10px black;
	vertical-align: center;
}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.navbuttons, .navsocial{
	display: inline-block;
	padding: 18px;
}

.navsocial img{
	height: 25px;
	width: 25px;
}

#postsAdminTable tr, td{
	padding: 5px 10px 5px 10px;
}

#postsAdminTable thead{
	background: #76a2a2;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

#postsAdminTable tbody{
	background: #d1e0e0;
}

.adminbar li{
	display: inline-block;
}

.service{
	align-items: center;
	text-align: center;
	background: #fff;
	padding-top: 15px;
	/*border-radius: 30px/140px;*/
	/*padding: 4px;
	margin: 5px;*/
}

/*.service-img{
	width: 128px;
	height: 128px;
	/*border: 3px solid MediumSeaGreen;
}*/

.service h4{
	color: #F9C004;
	text-align: center;
}


.plans{
	background-color: #c9e8d1;
}

.plan h5{
	text-align: center;
	font-weight: bold;
	/*font-style: MediumSeaGreen;*/
}

.plan{
	align-content: center;
	/*border: 2px solid black;*/
}

.plan img{
	width: 100%;
	opacity: 1; -moz-opacity: 1; filter: alpha(opacity=100);
	/*border: 2px solid MediumSeaGreen;*/
}

.plan img:hover{filter: alpha(opacity=50); moz-opacity:.50; opacity:.50;}


.modal-header{
	background: #97cc8a;
}

.modal-footer{
	background: #97cc8a;
}
.modal-footer p{
	text-align: center;
}

.IntroImg img{
	width: 100%;
}


footer{
	/*background-color: #70a970;*/
	background-color: #092a1a;
	position: absolute;
	width: 100%;
	color: #fff;
	/*bottom: 0;*/
}

.map-container {
  /*width: 100%;*/
  max-width: 100%;
  height: 200px;
  /*border: solid 2px black;*/
  margin-top: 10px;
  padding-left: 5px;
}

.address{
	margin-top: 20px;
}

.copyright{
	margin-top: 10px;
	padding-top: 6px;
	color: #FFF;
	background-color: #132013;
}
