<template name="AdminPanel">
	<div class="col-xs-12">
		
		<!--Panel administrador-->
		<div class="col-xs-2">
			<ul class="list-group">
				<a href="/admin/posts"><li class="list-group-item btn btn-default">Posts admin</li></a>
				<a href="/admin/users"><li class="list-group-item btn btn-default">Users admin</li></a>
			</ul>
		</div>

		<!--Panel administrador-->
		<div class="col-xs-10">
			<h2 class="text-center text-capitalize">Some Overview about the Blog</h2>
			<p class="text-center">Número de publicaciones <strong>XXX</strong></p>
			<p class="text-center">Número de usuarios registrados <strong>XXX</strong></p>
			<p class="text-center">Número de páginas visitadas <strong>XXX</strong></p>
		</div>

	</div>
</template>