<template name="AdminPanel">
	<div class="col-xs-12">
		
		<!--Panel administrador-->
		{{> AdminPanelBar}}

		<!--Panel administrador-->
		<div class="col-xs-12">
			<h2 class="text-center text-capitalize">Información del blog</h2>
			<p class="text-center">Número de publicaciones: <strong> {{numPost}} </strong></p>
			<p class="text-center">Número de usuarios registrados: <strong>XXX</strong></p>
			<p class="text-center">Número de páginas visitadas: <strong>XXX</strong></p>
		</div>

	</div>
</template>