 <template name="AdminUsers">
	<div class="container">
		<!--Panel administrador-->
		{{> AdminPanelBar}}

		<div class="col-xs-12">
			<table class="table table-hover" id="usersAdminTable">
				<thead class="thead-dark" style="background-color: #00b386;">
					<tr class="row">
						<th>Usuario</th>
						<th>Email</th>
						<th>Creado el</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{{#each users}}
						<tr class="row">
							<td>{{profile.name}}</td>
							<td>{{emails.[0].address}}</td>
							<td>{{createdAt}}</td>
							<td><button class="btn btn-danger" id="deleteUser"><span class="glyphicon glyphicon-trash"></span></button></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>