 <template name="AdminUsers">
	<div class="container">
		<!--Panel administrador-->
		{{> AdminPanelBar}}

		<div class="col-xs-12">
			<table class="table table-hover table-bordered" id="usersAdminTable">
				<thead>
					<tr class="row">
						<th>Usuario</th>
						<th>Email</th>
						<th>Creado el</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{{#each users}}
						<tr class="row">
							<td>{{username}}</td>
							<td>{{email}}</td>
							<td>{{CreatedAt}}</td>
							<td><button class="btn btn-danger" id="deletePost"><span class="glyphicon glyphicon-trash"></span>
								<!--<span class="glyphicon glyphicon-remove-circle"></span>--></button></td>
							<td><button class="btn btn-warning" id="editPost"><span class="glyphicon glyphicon-edit"></span></button></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template> 