<template name="NavBar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Brand or Logo</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/"> Home </a></li>
          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Blog
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/addpost"> Add post </a></li>
              <li><a href="/showposts"> Show posts </a></li>
              {{#if isInRole 'admin'}}
                <li><a href="/admin"> Admin panel </a></li>
              {{/if}}
            </ul>
          </li>
          <!--<li><a href="/addpost"> Add post </a></li>
          <li><a href="/showposts"> Show posts </a></li>-->
          <li>{{> loginButtons}}</li>
        </ul>
      </div>
    </div>
  </nav>
</template>




