<template name="SinglePost">
	<div class="col-xs-12">
		<div class="panel-group">
			<div class="panel panel-title">
				<h2 class="text-center text-capitalize">{{Title}}</h2>
			</div>
			<!--<div class="panel panel-body">
				<p class="text-center">{{Message}}</p>				
			</div>-->
			<div class="panel panel-body">
				<p class="text-center">{{{Body}}}</p>				
			</div>
			<div class="panel panel-footer">
				<h6 class="text-center">Publicado el {{CreatedAt}}</h6>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		{{#if currentUser}}
			{{> AddComment}}
		{{else}}
			<h5 class="text-center" style="color: red;">Necesitas estar conectado para añadir comentarios</h5>
		{{/if}}
	</div>

	<div class="col-xs-12">
		<ul class="list-group">
			{{#each comments}}
				{{>SingleComment}}
			{{/each}}
		</ul>
	</div>
</template>