<template name="Contact">
		<div id="contactHeader" class="section col-xs-12">
			<h1>Contacta con nosotros</h1>
			<h4>Completando tus datos de contacto, obtendrás una valoración nutricional al 50% dto</h4>
			<hr class="init">
		</div>
		<div class="col-xs-12">
			{{> contactForm}}
		</div>
		<div class="map-container col-xs-12">
			{{> googleMap name="healthMap" options=healthMapOptions}}
		</div>
		<br><br>
		<!--<hr class="final">-->
</template>

<template name="contactForm">
	<div class="container">
	{{#autoForm schema=contactForm id="contactForm" type="method" meteormethod="sendEmail"}}
		<fieldset>
			{{> afQuickField name="name"}}
			{{> afQuickField name="email" type="email"}}
			{{> afQuickField name="telephone" type="number"}}
			{{> afQuickField name="city"}}
			{{> afQuickField name="message" rows=10}}
			<div>
				<button type="submit" class="btn btn-primary">Enviar mensaje</button>
			</div>
		</fieldset>
	{{/autoForm}}
	</div>
</template>

<template name="contactForm1">
	<div class="container">
	{{> quickForm id="contactForm" type="method" schema=contactForm doc=exampleDoc scope="contacts"}}
	</div>
</template>