<template name="Footer">
  <footer>
    <div class="footer">
        
        <div class="col-xs-12 col-md-12 map-container">
            {{> googleMap name="healthMap" options=healthMapOptions}}
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-4 col-md-offset-4 address text-center">
                <h4><strong>Raquel San Millan HealthCoach</strong></h4>
                <p><!--<img src="posicion.png">&nbsp;--> Lope de Vega 131, Polanco, CDMX</p>
                <p><!--<img src="telefono.png">&nbsp;--> 5203.2313 / 5203.2496 / 5545.0955</p>
                <p><!--<img src="mail.png">&nbsp;--> <a href="mailto:#">raquel@mihealthcoach.com.mx</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 text-center copyright">
        <p><strong>&copy; 2018. Raquel San Millán HealthCoach. Todos los derechos reservados.</strong></p>
        </div>
    </div>
  </footer>
</template>