<template name="footer">
	<hr>
  <footer>
    <div class="container footer">
        <div class="col-xs-12 col-md-3">
        </div>
        <div class="col-xs-12 col-md-4">
            <div>
                <h5><strong>Contacto: </strong></h5>
                <p><img class="footeraddress" src="posicion.png">  Lope de Vega 131, Polanco, CDMX</p>
                <p><img class="footeraddress" src="telefono.png">  5203.2313 / 5203.2496 / 5545.0955</p>
                <p><img class="footeraddress" src="mail.png">  raquel@mihealthcoach.com.mx</p>
            </div>       
        </div>
    	<div class="col-xs-12 col-md-3">
			<div>
            	<h5><strong>Síguenos: </strong></h5>
                <a href="https://www.facebook.com/healthcoachraquelsanmillan" target="_blank"><img class="footersocial" src="facebook.svg" alt="facebook"></a>
                <a href="https://instagram.com/healthcoachraquel/" target="_blank"><img class="footersocial" src="instagram.svg" alt="instagram"></a>
            </div>       
        </div>
        <div class="col-xs-12 col-md-4">
        </div>
        <div class="col-xs-12 col-md-12 copyright">
            <p><strong>&copy; 2018. Raquel San Millán HealthCoach. Todos los derechos reservados.</strong></p>
        </div>
    </div>
  </footer>
</template>