<template name="Footer">
  <footer>
    <div class="footer">
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-3 col-md-offset-1 map-container">
                {{> googleMap name="healthMap" options=healthMapOptions}}
            </div>
            <div class="col-xs-12 col-md-3 col-md-offset-1">
                <h4><strong>Raquel San Millan HealthCoach</strong></h4>
                <p><!--<img src="posicion.png">&nbsp;--> Lope de Vega 131, Polanco, CDMX</p>
                <p><!--<img src="telefono.png">&nbsp;--> 5203.2313 / 5203.2496 / 5545.0955</p>
                <p><!--<img src="mail.png">&nbsp;--> <a href="mailto:#">raquel@mihealthcoach.com.mx</a></p>
                <!--<address>
                    <h5><strong>Raquel San Millan HealthCoach</strong></h5><br>
                    <i class="glyphicon glyphicon-map-marker"></i>&nbsp; Lope de Vega 131, Polanco, CDMX<br>
                    <i class="glyphicon glyphicon-earphone"></i>&nbsp; 5203.2313 / 5203.2496 / 5545.0955<br>
                    <i class="glyphicon glyphicon-envelope"></i>&nbsp; <a href="mailto:#">raquel@mihealthcoach.com.mx</a>
                </address>-->
            </div>
            <div class="col-xs-12 col-md-3">
                <div>
                    <h4><strong>Síguenos: </strong></h4>
                    <a href="https://www.facebook.com/healthcoachraquelsanmillan" target="_blank"><img class="footersocial" src="facebook.svg" alt="facebook"></a>
                    <a href="https://instagram.com/healthcoachraquel/" target="_blank"><img class="footersocial" src="instagram.svg" alt="instagram"></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 text-center copyright">
        <p><strong>&copy; 2018. Raquel San Millán HealthCoach. Todos los derechos reservados.</strong></p>
        </div>
    </div>
  </footer>
</template>