<template name="Plans">
		<div id="myPlans" class="section col-xs-12">
			<h1>Conoce nuestros programas</h1>
			<h4>Consúltalos y descubre cual se ajusta más a tus necesidades.</h4>
			<hr class="init">

			<!--Programa Cambridge-->
			<div class="plan col-xs-12  col-sm-6 col-md-3">
				<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cambridge">Open Modal</button>-->
				<img class="plan-img" src="cambridge1.jpg" alt="Cambridge" data-toggle="modal" data-target="#cambridge">
				<!--<img id="plus-img" src="plus.png" alt="plus" style='display:none;'>-->
				<h5>CAMBRIDGE WEIGHT PLAN</h5>
				<!-- Modal -->
				<div id="cambridge" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">CAMBRIDGE WEIGHT PLAN</h4>
				      </div>
				      <div class="modal-body cambridge">
				        <p><strong>Recomendado para aquellos que les cuesta seguir una dieta o que se estancan muy pronto después de empezar un plan de control de peso.</strong></p>
				        <p>Sistema nutricional basado en planes de alimentación que pueden combinar comida convencional con suplementos alimenticios. Su delicioso sabor y alto valor nutricional te permiten apegarte al plan de una manera práctica, alcanzando de forma más rápida tus metas.</p>

				        <ul>
				        	<li>Protocolos para diferentes condiciones físicas y clínicas.</li>
				        	<li>Solución clínicamente comprobada.</li>
				        	<li>Más de 45.000 casos con resultados.</li>
				        	<li>Estamos certificados en el sistema.</li>
				        	<li>Programa nutricional avalado por más de 60 artículos de investigación.</li>
				        	<li>Más de 30 años de experiencia en el mundo.</li>
				        </ul>

				        <p>Cambridge weight plan cuenta con 6 pasos diferentes que van desde dietas VLCD (Very low calory diet), LCD (low calory diet), normocalóricas y finalizando con el mantemiento. Al iniciar el programa, se elige el paso más idóneo para cada paciente, con el fin de conseguir el apego máximo. A lo largo del proceso se reeduca nutricionalmente para conservar a largo plazo los objetivos logrados.</p>
				        <p>Estudios científicos demuestran que el seguimiento de esta dieta logra en muchos casos revertir la diabetes tipo II, dislipidemias e hipertensión arterial. Enfermedades que van muy de la mano con el sobrepeso y/o obesidad.</p>
				      </div>
				      <div class="modal-footer">
				        <h4>Costo</h4>
				        <p>Se fijará en la primera consulta, pues varía dependiendo de su caso.<br>
				    	Para más información, no dudes en preguntarnos sin compromiso.</p>
				      </div>
				      <!--<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>-->
				    </div>
				  </div>
				</div>
			</div>
			<!--Programa Detox-->
			<div class="col-xs-12 col-sm-6 col-md-3 plan">
				<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cambridge">Open Modal</button>-->
				<img src="detox1.jpg" alt="Detox" data-toggle="modal" data-target="#detox">
				<h5>PROGRAMA DETOX</h5>
				<!-- Modal -->
				<div id="detox" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">PROGRAMA DETOX (Happy Slim+Healthy)</h4>
				      </div>
				      <div class="modal-body">
				        <p><strong>Si haces dieta y no bajas, te estancaste en un peso o si tienes problemas digestivos, este es tu programa idóneo.</strong></p>
				        <p>Programa basado en la medicina Ayurveda (India) inspirado en los retiros detox que combinan meditación, ejercicios, purgas y menús desintoxicantes. El objetivo es limpiar los intestinos para fortalecer y mejorar tanto la digestión y absorción de nutrientes, como para digerir mejor las grasas que vayas a quemar en un programa de pérdida de peso.</p>

				        <ul>
				        	<li>Restablecer la función natural del tracto digestivo.</li>
				        	<li>Limpia el organismo eliminando toxinas que se han venido acumulando durante años, las cuales provienen no sólo de la alimentación sino también del medio ambiente.</li>
				        	<li>Alcalinizar el organismo, indispensable para sanar tu cuerpo, ya que las enfermedades se desarrollan en medios ácidos.</li>
				        	<li>Limpia tu piel y sistema linfático.</li>
				        </ul>
				      </div>
				      <div class="modal-footer">
				        <h4>Costo: $3290</h4>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			<!--Programa Tradicional-->
			<div class="col-xs-12 col-sm-6 col-md-3 plan">
				<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cambridge">Open Modal</button>-->
				<img src="tradicional1.jpg" alt="Tradicional" data-toggle="modal" data-target="#tradicional">
				<h5>PROGRAMA TRADICIONAL</h5>
				<!-- Modal -->
				<div id="tradicional" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">PROGRAMA TRADICIONAL</h4>
				      </div>
				      <div class="modal-body tradicional">
				      	  <!--<img src="http://mihealthcoach.com.mx/images/tradicional2.jpg">-->
					      <p>Recomendado para los que quieren una reeducación alimenticia y cambiar hábitos para gozar de mejor salud y estado físico.</p>
					      <p><strong>¡Tenemos tu plan!</strong></p>
					      <p>El enorme abanico de alimentos que tenemos nos permite poder hacer combinaciones maravillosas para lograr objetivos reales en base a las necesidades de cada paciente.</p>
					      <p>Lo primero es conocer el estado de salud del que partimos, lo segundo es conocer tus hábitos nutricionales y estilo de vida para conseguir el mayor apego al plan y detectar los errores de tu alimentación actual y, por último, conocer tu composición corporal para pautar los objetivos y monitorear como nos vamos acercando a ellos semana tras semana.</p>
					      <p>Todo ello hace que tu dieta, sea sólo tu dieta. 100% personalizada. Este programa tiene muchos enfoques:</p>
					        <ul>
					        	<li>Nutrición deportiva.</li>
					        	<li>Nutrición en embarazo/lactancia.</li>
					        	<li>Nutrición para reducción de peso/aumento de peso.</li>
					        	<li>Nutrición infantil/tercera edad.</li>
					        	<li>Nutrición con condiciones médicas especiales.</li>
					        </ul>
					    </div>
					    <div class="modal-footer">
					        <h4>Costo: $600 - Paquete de 4 consultas: $1800</h4>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			<!--Programa Raw-Vegan-->
			<div class="col-xs-12  col-sm-6 col-md-3 plan">
				<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cambridge">Open Modal</button>-->
				<img src="rawvegan1.jpg" alt="Raw-Vegan" data-toggle="modal" data-target="#raw">
				<h5>PROGRAMA RAW-VEGAN</h5>
				<!-- Modal -->
				<div id="raw" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">PROGRAMA RAW-VEGAN</h4>
				      </div>
				      <div class="modal-body">
				        <p>Consiste en consumir durante 10 días vegetales de hoja verde, verduras, hortalizas, frutas, frutos secos, especias, germinados y semillas.</p>
				        <p>La combinación de estos alimentos naturales que mantienen intactas sus enzimas y nutrimentos te ayudarán a restablecer el organismo, desinflamarte, desintoxicarte y eliminar toxinas y líquidos que entorpecen tu camino al bienestar.</p>

				        <ul>
				        	<li>Incluye 2 consultas nutricionales (inicio y final).</li>
							<li>Lista de la compra.</li>
							<li>Manual de desayunos/comidas y cenas a llevar a lo largo del programa.</li>
							<li>Al final del plan se elabora la dieta progresiva con la que darás paso a tu alimentación cotidiana.</li>
						</ul>
					  </div>
					  <div class="modal-footer">
				        <h4>Costo: $990</h4>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<br><br><br>
		<!--<hr class="final">-->
</template>