<template name="Programs">
	<!--<div class="col-xs-12 section" id="programs">
		<div class="col-xs-12 col-md-1"><p></p></div>
		<div class="col-xs-12 col-md-offset-1 col-md-3 service">
    		<img class="service-img" src="38608.jpg" alt="service 1">
      		<h3>Programas a medida</h3>
        	<p>Tenemos un programa único adaptado a tus necesidades.</p>
		</div>
		<div class="col-xs-12 col-md-4 service">
			<img class="service-img" src="61699.jpg" alt="service 2">
			<h3>Seguimiento personalizado</h3>
			<p>Realizamos un seguimiento en primera persona analizando tus evoluciones.</p>
		</div>
		<div class="col-xs-12 col-md-3 service">
			<img class="service-img" src="48031.jpg" alt="service 3">
			<h3>Resultados garantizados</h3>
		    <p>Compromiso total para ayudarte a conseguir tus objetivos.</p>
		</div>
	</div>-->
	<div class="section" id="programs">
		<div class="col-xs-12 col-sm-3 col-md-12 service">
    		<img class="service-img" src="38608.jpg" alt="service 1">
      		<h4>Programas a medida</h4>
        	<p>Tenemos un programa único adaptado a tus necesidades.</p>
		</div>
		
		<div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-12 service">
			<img class="service-img" src="61699.jpg" alt="service 2">
			<h4>Seguimiento personalizado</h4>
			<p>Realizamos un seguimiento en primera persona de tus evoluciones.</p>
		</div>
		
		<div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-12 service">
			<img class="service-img" src="48031.jpg" alt="service 3">
			<h4>Resultados garantizados</h4>
		    <p>Compromiso total para ayudarte a conseguir tus objetivos.</p>
		</div>

	</div>
</template>

<template name="Programs2">
	<div class="col-xs-12">

	</div>
</template>

