<template name="Programs">
		<div id="myPrograms" class="section">
			<!--<h1>Programas</h1>
			<hr class="init">-->
			<div class="col-xs-12 col-md-4">
				<div class="service">
					<h3>Programas a medida</h3>
               		<img class="service-img" src="38608.jpg" alt="service 1">
               		<br><br>
                    <p>Tenemos un programa único adaptado a tus necesidades.</p>
                </div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="service">
					<h3>Seguimiento personalizado</h3>
					<img class="service-img" src="61699.jpg" alt="service 2">
					<br><br>
					<p>Realizamos un seguimiento en primera persona analizando tus evoluciones.</p>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="service">
					<h3>Resultados garantizados</h3>
					<img class="service-img" src="48031.jpg" alt="service 3">
					<br><br>
		            <p>Compromiso total para ayudarte a conseguir tus objetivos.</p>
				</div>
			</div>
		</div>
		<br><br><br>
		<!--<hr class="final">-->
</template>